MLFLOW_TRACKING_URI=http://mlflow:5000
MODEL_NAME=bank_marketing_model

REDIS_URL=redis://redis:6379/0
POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/drift_agent

DRIFT_WINDOW=1000
WEBHOOK_AGENT_URL=http://agent:8001/webhook